* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v25_127 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v25_128 {
  width: 97px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1267px;
  overflow: hidden;
}
.v25_129 {
  width: 97px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1267px;
  overflow: hidden;
}
.v25_130 {
  width: 97px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 1267px;
  overflow: hidden;
}
.v25_131 {
  width: 97px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1267px;
  overflow: hidden;
}
.v25_132 {
  width: 240px;
  height: 93px;
  background: url("../images/v25_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 12px;
  overflow: hidden;
}
.v25_121 {
  width: 171px;
  height: 134px;
  background: url("../images/v25_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 657px;
  overflow: hidden;
}
.v25_122 {
  width: 297px;
  height: 350px;
  background: url("../images/v25_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 54px;
  overflow: hidden;
}
.v25_107 {
  width: 201px;
  height: 104px;
  background: url("../images/v25_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 855px;
  overflow: hidden;
}
.v25_108 {
  width: 362px;
  height: 500px;
  background: url("../images/v25_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 85px;
  overflow: hidden;
}
.v25_105 {
  width: 184px;
  height: 134px;
  background: url("../images/v25_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 1180px;
  overflow: hidden;
}
.v25_106 {
  width: 549px;
  height: 289px;
  background: url("../images/v25_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 241px;
  overflow: hidden;
}
.v25_113 {
  width: 145px;
  height: 121px;
  background: url("../images/v25_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 763px;
  overflow: hidden;
}
.v25_114 {
  width: 293px;
  height: 345px;
  background: url("../images/v25_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  overflow: hidden;
}
.v25_111 {
  width: 201px;
  height: 162px;
  background: url("../images/v25_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 702px;
  left: 1090px;
  overflow: hidden;
}
.v25_112 {
  width: 267px;
  height: 361px;
  background: url("../images/v25_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 23px;
  overflow: hidden;
}
.v25_119 {
  width: 189px;
  height: 156px;
  background: url("../images/v25_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 1175px;
  overflow: hidden;
}
.v25_120 {
  width: 286px;
  height: 493px;
  background: url("../images/v25_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v25_124 {
  width: 160px;
  height: 118px;
  background: url("../images/v25_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 95px;
  overflow: hidden;
}
.v25_125 {
  width: 311px;
  height: 263px;
  background: url("../images/v25_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 36px;
  overflow: hidden;
}
.v25_115 {
  width: 229px;
  height: 111px;
  background: url("../images/v25_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 691px;
  overflow: hidden;
}
.v25_116 {
  width: 341px;
  height: 300px;
  background: url("../images/v25_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v25_109 {
  width: 202px;
  height: 118px;
  background: url("../images/v25_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 955px;
  overflow: hidden;
}
.v25_110 {
  width: 243px;
  height: 258px;
  background: url("../images/v25_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_117 {
  width: 136px;
  height: 102px;
  background: url("../images/v25_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 920px;
  overflow: hidden;
}
.v25_118 {
  width: 243px;
  height: 239px;
  background: url("../images/v25_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v25_79 {
  width: 616px;
  height: 273px;
  background: url("../images/v25_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 55px;
  overflow: hidden;
}
.v25_150 {
  width: 224px;
  height: 129px;
  background: url("../images/v25_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 936px;
  overflow: hidden;
}
.v33_237 {
  width: 496px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 677px;
  left: 122px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
